<!-- calisma alani -->
 <div style="border: 2px solid black; display: inline-block;">
<canvas #canvas width="800" height="600" ></canvas> 
</div>
<button (click)="clear()">clear</button>
<button (click)="putRectangle()">put red rectangle</button>
<button (click)="point10_10()">put point to 10-10</button>
<button (click)="drawLine()">draw line</button>
<button (click)="rotateLine()">rotate Line</button>
<button (click)="frameTransformation()">frame tranformation</button>
<button (click)="rotateLineGlobal()">rotateLineGlobal</button>